{{ form_start(form) }}
{{ form_rest(form) }}
<button class="btn btn-primary">{{ button|default('Bouton par défaut') }}</button>
{{ form_end(form) }}
<a href="{{ path('chapter_index') }}"><button class="btn btn-primary">Annulation</button></a>