{% extends "base.html.twig" %}

{% block body %}
<div id="createCharacter_box01">
    <img src="{{asset('/pictures/well.png')}}" alt="entrée d'une grotte">
</div>

<div id="createCharacter_box02">
    <h2>Chapitre d'introduction</h2>
    <div class="createCharacter_box02_paragraph">
        <p><span STYLE="padding:0 0 0 40px;"></span>Le soleil du matin vous réchauffe la tête et vous sentez la lumière qui vous attire et vous oblige à ouvrir les yeux. Dans un effort qui vous paraît démesuré vous levez vos paupières et découvrez devant vous une place baignée du soleil matinal. Partout autour, collées les unes aux autres, les maisons à colombages aux murs blanchis à la chaux, reflètent ces rayons. Les cris des enfants jouant avec les chiens errants vous ramènent petit à petit à la réalité, mais quelle réalité ? Malgré tous vos efforts rien ne vient, où êtes-vous ? qu’est-ce que vous faîtes là ?</p>
        <p><span STYLE="padding:0 0 0 40px;"></span>Vous vous rendez compte que vous êtes allongé à même le sol, dans la poussière le dos appuyé contre ce qui semble être un puits. Soudain vous recevez une gerbe d’eau glaciale venant de dessus et qui innonde votre visage, un râle de mécontentement s’échappe de votre bouche.</p>
        <p>-Hola pardon si je vous ai arrosé, mais il ne faut pas rester là. Si la milice vous trouve qui sait ce qu’ils vous feront.</p>
        <P>-La milice ? Mais quelle milice ? Et où suis-je ?</p>
        <p>-Où vous êtes ? Ben à Vertefôret et la milice croyez moi c’est sûrement pas des gens que vous avez envie de rencontrer, surtout après la fête qu’ils ont fait hier soir ils risquent d’être un peu rochons ce matin, si vous voyez ce que je veux dire?</p>
        <p>-Mais qu’est-ce que je fais là ?</p> 
        <p>-Ca j’en sais rien moi, je suis arrivé ce matin pour prendre l’eau au puits et vous étiez allongé par terre. C’est pas la première fois que ça arrive, parfois le  matin il y a un gars ou une fille exactement où vous êtes et qui ne se rappelle de rien. Je peux pas vous en dire plus moi, je suis juste le boulanger et je veux pas d’histoires. Il y a déjà assez de problèmes comme ça avec les gars de la milice et maintenant ça fait deux jours qu’on attend le ravitaillemnt de la ville mais rien est arrivé, alors vous et vos problèmes ça ne me regarde pas.</p>
        <p>-Ca arrive que des gens apparaissent comme ça au milieu de votre village et ça ne vous concerne pas? Et ben vous n’êtes pas curieux vous. Et ils sont où maintenant ces gens qui sont apparus ?</p> 
        <p>-Je ne sais pas, mais une chose est sûre c’est qu’ils ne sont plus là. Après si vous voulez en savoir plus il vaudrait mieux aller voir le maire du village, en ce moment il est à l’entrée sud. On est sans nouvelles de la caravane des Mirtons qui devait nous livrer les réserves de nourriture. Il devait monter une équipe de villageois pour aller à leur rencontre mais les miliciens en ont décidé autrement. Allez le voir il pourra peut-être vous en dire plus. Mais en attendant ne restez pas là, si les hommes de Krugg vous trouvent ici ça va être votre fête.</p> 
    </div>
</div>

<div id="createCharacter_box03">
    <h2>Création de votre personnage</h2>
    <div class="createCharacter_box03_forDisplay">
        <div class="createCharacter_box03_paragraph">
            <p><span STYLE="padding:0 0 0 40px;"></span>C’est maintenant à vous de jouer. Choisissez un nom, un genre et quel type de personnage vous voulez incarner, plutôt celui qui réglera les problèmes à coup d’épée ou celui qui lancera un éclair d’énergie bleu pour se défendre. Libre à vous d’être qui vous voulez cela vous permettra d’imaginer les évolutions de votre personnage et de comprendre le système de jeu.</p>
            <p><span STYLE="padding:0 0 0 40px;"></span>Vous devrez égalemnt ajuster les trois caractéristiques principale de votre personnage.Comme vous faîte vos premier pas dans le monde tous vos points sont à 0, vous êtes à peu près au niveau d’un enfant de 15 ans. Et pour cette première histoire vous n’aurez qu’un point à distribuer, alors choisissez bien. </p>
            <p><span STYLE="padding:0 0 0 40px;"></span>Pour rappel, la dextérité sert à déterminer l’initiative lors des combats, les capacités d’attaque et de défense servent  à déterminer si vous toucher ou pas votre adversaire ainsi que le nombre de point que vous pouvez perdre ou faire perdre à votre adversaire. Pour connaitre le système de jeu plus en détail rendez vous à la section combat ou capacité. </p>
        </div>
        <div class="createCharacter_box03_form">
            {{ form_start(formCharacter) }}
            {{ form_row(formCharacter.characterName, {'label':"Nom du personnage", 'attr':{'placeholder':"Choisissez un nom pour votre personnage"}}) }}
            {{ form_row(formCharacter.gender, {'label':"Etes vous une femme ou un homme?"}) }}
            {{ form_row(formCharacter.class, {'label':"Classe de personnage"}) }}
            <button class='btn btn-success' type="submit">Créer !</button>
            {{ form_end(formCharacter) }}
        </div>
    </div>
   
</div>


{% endblock body %}