{% extends "base.html.twig" %}

{% block body %}
    <div id='intro'>
        <h1>Gestion de votre espace membre</h1>
        <p>Bonjour {{ app.user.username }}, Tu te trouves sur la page de gestion de ton espace membre. C'est d'ici que tu pourras 
            gérer tes informations de membre, te connecter à tes personnages ou les suprimmer. 
            C'est également à partir de cette page que tu pourras choisir l'histoire que tu desires lire.
        </p>
    </div>

    <div id="adminMemberPage_box01">
        <div class="adminMemberPage_box01_picture">
            <img src="{{asset('/pictures/entrance_to_a_cave.png')}}" alt="entrée d'une grotte" width="70%">
        </div>
        <div class="adminMemberPage_box01_paragraph">
            {% if characters %}
            <div>
                <p>Et bien voilà  {{ user.username }}, tu es prêt à entrer dans l'aventure. Choisis un personnage et 
                affronte ton destin.</p> 
            </div>
            <div>
                <label for="CharacterChoice">Que la magie opère et deviens</label>
                <select name="character" id="CharacterChoice">
                {% for character in user.characters %}
                    <option value="{{ character.id }}">{{ character.characterName }}</option>
                {% endfor %}
                </select><br>
                <a href="#"><button class="btn btn-primary">Entre dans le monde</button></a>
            </div>
            {% else %}
            <div>
                <p>Mais tu n'as pas encore de personnage {{ user.username }} ! clique sur le bouton ci-dessous et crées-en un.</p>
                <a href="{{ path('esh_createCharacter') }}"><button class="btn btn-primary">Créer un personnage</button></a>
            </div>
            {% endif %}
        </div>
    </div>

    <div id="adminMemberPage_box02">
        <h1>Informations sur vos personnages</h1>
        {% if characters %}
        <table>
            <tr>
                <th>Nom</th>
                <th>Level</th>
                <th>Classe</th>
                <th>Genre</th>
                <th>Points de vie</th>
                <th>Dextérité</th>
                <th>Points d'attaque</th>
                <th>Points de défense</th>
                <th>Effacer</th>
                <th>Equipement</th>
            </tr>
            {% for character in user.characters %}
            <tr>
                <td>{{ character.characterName }}</td>
                <td>{{ character.level }}</td>
                <td>{{ character.class }}</td>
                <td>{{ character.gender }}</td>
                <td>{{ character.lifePoint }}</td>
                <td>{{ character.dexterity }}</td>
                <td>{{ character.attack }}</td>
                <td>{{ character.defense }}</td>
                <td ><a class="deleteButton" href="{{ path('esh_deleteCharacter', {'id': character.id}) }}" onclick="return(confirm('Etes-vous sûr de vouloir supprimer le personnage {{character.characterName}}. Cette action supprime toutes ces histoires en cours ainsi que tous ces équipements.'))">Supprimer</a></td>
               
                <td>{%dump(character.equipment.name)%}</td>
              
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Tu n'as pas encore créé de personnage</p>
        {% endif %}
    </div>
   
{% endblock body %}