{% extends 'adminBase.html.twig' %}


{% block body %}

<div class="container">
	<h1>Administration des routes du livre "{{ book.name }}"</h1>

	<div class="container helpContainer">
		<a href="{{ path('help_getOne', {'id': 1}) }}" class="js-help"><button class="btn btn-primary">Ouvrir
				l'aide</button>
		</a>
		<div id='help' style='display:none'>
			<h2 class="js-h2"></h2>
			<p class="js-p"></p>
			<button class="btn btn-outline-primary js-button">Fermer l'aide</button>
		</div>
	</div>

	{% for chapter in book.chapters %}

	<h2>{{ chapter.name }}</h2>
	<a href="{{ path('road_create', {'id': chapter.id}) }}" class="btn btn-secondary">Ajouter un bouton</a>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Bouton</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for road in chapter.roads %}
			<tr>
				<td style="width: 70%;">{{ road.content }}</td>
				<td>
					<a href="{{ path('road_edit', {'id':road.id}) }}" class="btn btn-secondary">Editer</a>
					<form method="POST" action="{{ path('road_delete', {'id': road.id}) }}" style="display: inline"
						onsubmit="return confirm('Voulez-vous vraiment supprimer ce bouton ?')">
						<input type="hidden" name="_method" value="DELETE">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ road.id) }}">
						<button class="btn btn-danger">Supprimer</button>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endfor %}
</div>


{% endblock %}